.header-wrapper {
  height: 70px;
  background: #dbdbdb;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.header-search {
  font-family: "Roboto", sans-serif;
  margin-left: 20px;
}