.header-wrapper {
  height: 70px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #e7e7e7;
}
.header-search {
  font-family: "Roboto", sans-serif;
  margin-left: 20px;
}

.search-input {
  margin-left: 20px;
  border-radius: 7px;
  outline: none;
  border: 0;
  background: #e7e7e7;
  padding: 4px;
  transition: 0.15s;
  box-shadow: 0 0 3px black;
}
.search-input:hover {
  cursor: pointer;
  background: #c8c7c7;
}
.rep-name {
  height: 20px;
  width: 300px;
  margin-left: 20px;
  margin-top: 20px;
  outline: none;
  border-radius: 7px;
  border: 0;
  background: #e7e7e7;
  padding-left: 10px;
  box-shadow: 0 0 3px black;
}
.clear {
  margin-left: 20px;
  border-radius: 7px;
  outline: none;
  border: 0;
  background: #e7e7e7;
  padding: 4px;
  transition: 0.15s;
  box-shadow: 0 0 3px black;
}
.clear:hover {
  cursor: pointer;
  background: #c8c7c7;
}