.header-wrapper {
  height: 70px;
  background: #dbdbdb;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.header-search {
  font-family: "Roboto", sans-serif;
  margin-left: 20px;
}
.searchbar-search {
  border: 1px solid #dbdbdb;
}
.search-input {
  margin-left: 20px;
}
.rep-name {
  height: 20px;
  width: 300px;
  margin-left: 20px;
  margin-top: 20px;
  outline: none;
}