.li {
    list-style: none;
}
.a {
    text-decoration: none;
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    background: #e7e7e7;
    width: 25px;
    height: 25px;
    justify-content: center;
    border-radius: 5px;
    box-shadow: 0 0 3px #6b6b6b;
    color: black;
    transition: 0.15s;
}
.a:hover {
    background: #c8c7c7;
}
.pagination {
    display: flex;
}